
/* style.css */

html, body {
  height: 100%;
  background-color: magenta;
  text-align: center;
  font-family: monospace;
}

#canvas-holder {
    padding: 20px;
    display: block;
    margin: auto;
}
